* {
	box-sizing: ;
	margin: 0;
	padding: 0;
	background-color: #17E9E0;
}

li, a {
	text-decoration: none;
	display: inline-block;
	padding: 10px 10px;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10px;
}

.p {
	float: right;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}